@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-base-100: oklch(0.9931 0 0);
	--color-base-200: oklch(0.9721 0 0);
	--color-base-300: oklch(0.954 0 0);
	--color-base-content: oklch(12.043% 0.06424 300.191);

	--color-neutral: oklch(0.1038 0.0652 275.09);
	--color-neutral-content: oklch(1 0 0);

	--color-primary-50: oklch(0.95 0.05 30.42);
	--color-primary: oklch(0.6929 0.2064 30.42);
	--color-primary-600: oklch(0.6362 0.1869 30.29);

	--color-secondary-50: oklch(0.95 0.05 354.308);
	--color-secondary: oklch(0.65 0.241 354.308);
	--color-secondary-600: oklch(0.6018 0.2221 354.29);

	--color-accent-50: oklch(0.95 0.05 211.53);
	--color-accent: oklch(0.78 0.154 211.53);
	--color-accent-600: oklch(0.7279 0.1276 213.42);

	--color-info: oklch(74% 0.16 232.661);
	--color-info-600: oklch(0.6865 0.143884 234.1133);
	--color-info-content: oklch(29% 0.066 243.157);

	--color-success: oklch(76% 0.177 163.223);
	--color-success-600: oklch(0.7083 0.1558 161.79);
	--color-success-content: oklch(37% 0.077 168.94);

	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-600: oklch(0.7606 0.1569 81.45);
	--color-warning-content: oklch(41% 0.112 45.904);

	--color-error: oklch(71% 0.194 13.428);
	--color-error-600: oklch(0.6534 0.1751 13.11);
	--color-error-content: oklch(27% 0.105 12.094);

	--animate-float: float 3s ease-in-out infinite;
}

@layer theme {
	.dark {
		--color-base-100: oklch(22% 0.019 237.69);
		--color-base-200: oklch(20% 0.019 237.69);
		--color-base-300: oklch(18% 0.019 237.69);
		--color-base-content: oklch(97.901% 0.031 222.959);

		--color-primary-50: oklch(25% 0.03 30.42);
		--color-accent-50: oklch(25% 0.03 211.53);
		--color-secondary-50: oklch(25% 0.03 354.308);

		--color-info: oklch(68.455% 0.148 237.251);
		--color-info-600: oklch(0.6348 0.1363 236.9);
		--color-info-content: oklch(15% 0 237.251);

		--color-success: oklch(78.452% 0.132 181.911);
		--color-success-600: oklch(0.7261 0.1218 181.88);
		--color-success-content: oklch(15.69% 0.026 181.911);

		--color-warning: oklch(83.242% 0.139 82.95);
		--color-warning-600: oklch(0.7702 0.1279 82.7);
		--color-warning-content: oklch(16.648% 0.027 82.95);

		--color-error: oklch(71.785% 0.25 13.118);
		--color-error-600: oklch(0.6646 0.2262 12.98);
		--color-error-content: oklch(14.357% 0.034 13.118);
	}
}

@layer utilities {
	.flex-center {
		@apply flex items-center justify-center;
	}

	.skeleton {
		@apply bg-base-content/15 animate-pulse;
	}

	.card-scrollbar {
		@apply [&::-webkit-scrollbar-thumb]:bg-base-content/20 max-h-100 overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-transparent;
	}

	.menu-items {
		@apply absolute right-0 z-10 mt-4 w-40 origin-top-right rounded-md bg-base-100 shadow-lg ring-1 ring-base-content/5 transition focus:outline-hidden data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in;
	}

	.menu-item {
		@apply flex px-4 items-center gap-2 py-2 text-sm capitalize rounded-sm data-focus:bg-base-300 data-focus:outline-hidden w-full;
	}

	.menu-item.danger {
		@apply data-focus:bg-error/10 data-focus:text-error;
	}

	.input {
		@apply bg-base-content/3 outline-none focus:ring-primary focus:ring-[1.5px] h-10 w-full rounded-lg p-4 text-sm;
	}
}

html {
	font-family: 'Inter', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	color: var(--color-base-content);
}

a,
button {
	@apply cursor-pointer;
}

button {
	@apply disabled:pointer-events-none disabled:opacity-50;
}

@keyframes float {
	0%,
	100% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-10px);
	}
}
